*{
	font-family: Arial;
}
body{
	margin:0;
	padding:0;
	background-color:#d6a0dc;
}

.topo{
	height:50px;
	background-color: #9f5ad9;
}

.topoint{
	width:1000px;
	margin:auto;
	color: #000000;
	
	
}

.logo{
	float:left;
	font-size: 30px;
	line-height:50px;
	
}

.menu{
	float:right;
}

.menu ul,
.menu li{
	margin:0;
	padding:0;
	list-style:none;	
	
}

.menu li{
	float:left;
	padding-left:10px;
	padding-right:10px;
	line-height:50px;
	font-size: 16px;
	cursor:pointer;
}

.menu li:hover{
	background-color: #c288f4;
	color:#FFFFFF;
}

.banner{
	height:330px;
	background-color:#FFFFFF;
	
}

.bannerint{
	width: 1180px;
	margin:0;
}

.banneresquerda{
	float: left;
	
}

.banneredireita{
	float: right;
	
	
}

.frase1{
	font-size:48px;
	color:#000000;
	margin-top:60px;
}

.frase2{
	font-size:16px;
	color:#000000;
	
}

.botao{
	height:56px;
	width:252px;
	background-color: #740e92;
	line-height:56px;
	font-size: 20px;
	text-align:center;
	cursor:pointer;
	margin-top: 25px;
	color: #000000;
	border-radius:50px;
}

.botao:hover{
	color:#FFFFFF;
}

.conteudo{
	background-color:#d6a0dc;
}

.conteudoint {
	width:1000px;
	margin:auto;
	
	
}

.destaques{
	height:90px;
	font-size:20px;
	line-height:90px;
	text-align:center;
}

.fotos img{
	margin-left:5px;
	margin-right:5px;
}

.rodape{
	height:50px;
	text-align:center;
	line-height:50px;
	color:#000000;
	background-color:#9f5ad9;
	margin-top:40px;
}
